/* Font */

body {
    font-family: Raleway;
}



h1 {
	font-family: Raleway;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

h2 {
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 20px;
}

h3 {
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

p, li {
	font-family: Raleway;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

img {
    width:150px;

}
/* Color */

.color_main {
	color: #0065FC;
}

.color_light {
	color: #DEEBFF;
}

.color_background {
	background-color: #F2F2F2;
}

/* Zones */



header {
    width: 100%;
}
#recherche {
    width: 100%;
}

#resultat {
    width: 100%;
}

#hebergement {
    width: 80%;
	background-color: #F2F2F2;
}
#populaire {
    width: 20%;
	background-color: #F2F2F2;
}
#activite {
    width: 100%;
}
footer {
	background-color: #F2F2F2;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}


#hebergement_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.text {
	font-size: 1.0em;
}

.zone_menu {
	text-align: right;
	white-space: nowrap;
}

.zone_menu_ligne {
	display: inline-block;
}


